@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-family: 'Roboto', 'serif';
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.header{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 100%;
    /* height: 2rem; */
}

.header .nav-content{
    display: flex;
    flex-direction: row;
}
.content{
    display: contents;
    color: black;
}

.header .nav-content .content .item{
    margin: 2rem;
    /* margin-right: 1rem; */
    font-size: 22px;
    font-weight: 500;
}

.header .nav-content .content .item:hover{
    cursor: pointer;
}

.header .log{
    margin: 1.5rem;
    margin-right: 2rem;
    width: 6rem;
    height: 2.7rem;
    border-radius: 9px;
    font-size: 20px;
    font-weight: 500;
}
.front-img{
    width: 100%;
    height: 90vh;
    opacity: .56;
    margin-top: 0rem;
}

.section {
    display: flex;
    vertical-align: middle;
    margin: 0;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    position: absolute;
}

.row {
    z-index: 1;
    /* margin: 6rem auto; */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 35rem;
    padding: 2rem;
    border-radius: 3rem;
    position: absolute;
    top: -94%;
    left: 30%;
}

.row h1 {
    font-size: 25px;
    margin-left: 1.5rem;
    font-weight: 700;
}

#form {
    line-height: 2;
    font-size: 19px;
}

#course {
    position: relative;
    width: 100%;
    padding: 16px 10px 7px;
    background: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid rgb(160, 160, 160);
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    margin-top: -2rem;
}

.label {
    position: absolute;
    left: 0;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.2s;
}

.send {
    width: 5.4rem;
    margin-left: 1rem;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.view {
    margin-top: 1rem;
}

.result {
    margin-top: -2rem;
}