<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/details.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <div class="header">
        <img src="" alt="" class="logo">
        <div class="nav-content">
            <ul class="content">
                <li class="item 1"><a href="/">Home</a></li>
                <li class="item 2"><a href="/attendance">Attendance</a></li>
                <li class="item 3"><a href="/record">Record</a></li>
                <li class="item 4"><a href="/student">Student</a></li>
            </ul>
        </div>
        <button class="log"><a href="/login">LOGIN</a></button>
    </div>
    <img src="../static/images/welcome-img.jpg" alt="" class="front-img">
    <div id="results">
        <table id="table">
            <tr>
                <th class="heading">Student Details</th>
                <th></th>
            </tr>
            <tr>
                <td>Name</td>
                <td>Saakshi Ritolia</td>
            </tr>
            <tr>
                <td>USN</td>
                <td>1DS21CS177</td>
            </tr>
            <tr>
                <td>Semester</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Contact No.</td>
                <td>6204557172</td>
            </tr>
            <tr>
                <th class="heading">Parents Details</th>
                <th></th>
            </tr>
            <tr>
                <td>Mother's Name</td>
                <td>Santosh Ritolia</td>
            </tr>
            <tr>
                <td>Contact NO.</td>
                <td>123456789</td>
            </tr>
            <tr>
                <td>Father's Name</td>
                <td>Subhash Ritolia</td>
            </tr>
            <tr>
                <td>Contact NO.</td>
                <td>123456789</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>Dhanbad,Jharkhand</td>
            </tr>
        </table>
    </div>
</body>