<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="navbar"> 
        <img src="" alt="" class="logo">
        <div class="navlist">
            <ul class="list">
                <li class="item">Home</li>
                <li class="item">Attendance</li>
                <li class="item">Record</li>
                <li class="item">Student Details</li> 
                <li class="item">About</li>    
            </ul>
        </div>
        <button class="login">LOGIN</button>
    </div>  
</body>
</html>