<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Home Page</title>
</head>

<body>
    <div>
        <img src="" alt="" class="logo">
        <div class="navcontent">
            <ul class="content">
                <li class="item">Home</li>
                <li class="item">Attendance</li>
                <li class="item">Record</li>
                <li class="item">Student Details</li>
                <li class="item">About</li>
            </ul>
        </div>
        <button class="log">LOGIN</button>
    </div>
    <img src="" alt="" class="main">
    Student 
    
</body>

</html>